<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Hyva\CompatModuleFallback\Model\CompatModuleRegistry">
        <arguments>
            <argument name="compatModules" xsi:type="array">
                <item name="magento2-hyva-checkout-shipping-dhl-de" xsi:type="array">
                    <item name="original_module" xsi:type="string">Netresearch_ShippingUi</item>
                    <item name="compat_module" xsi:type="string">Hyva_ShippingDhlDe</item>
                </item>
            </argument>
        </arguments>
    </type>
    <!--todo-->
    <!--<type name="Netresearch\ShippingCore\Model\AdditionalFee\AdditionalFeeManagement">
        <arguments>
            <argument name="additionalFeeProviders" xsi:type="array">
                <item name="dhl_no_neighbor_fee" xsi:type="object">Hyva\ShippingDhlDe\Model\AdditionalFee\NoNeighborFee</item>
                <item name="dhl_preferred_day_fee" xsi:type="object">Hyva\ShippingDhlDe\Model\AdditionalFee\PreferredDayFee</item>
                <item name="dhl_closest_drop_point_fee" xsi:type="object">Hyva\ShippingDhlDe\Model\AdditionalFee\ClosestDropPointFee</item>
                <item name="dhl_gogreen_plus_fee" xsi:type="object">Hyva\ShippingDhlDe\Model\AdditionalFee\GoGreenPlusFee</item>
            </argument>
        </arguments>
    </type>-->
</config>
